h1{
    color: black;
}

header{
    background-color: azure;
}
.anemo{
     width: 400px;
}

.geo{
    width: 400px;
}
    
.elektro{
width: 400px;
}

.dendro{
  width: 400px;  
}

.hydro{
   width: 400px; 
}
